h1 {
  background-color: blue;
}

* {
  background-color: aqua;
}

.background {
  color: blueviolet;
  font-style: italic;
  font-family: 'verdana';
  font-weight: 600;
}
.align {
  text-align: end;
}
ul {
  margin-left: 12px;
  padding-right: 12px;
  background-color: white;
}
ol {
  margin-right: 2px;
  text-align: justify;
  background-color: white;
}
p {
  background-color: orchid;
  border: 5px dotted red;
  border-radius: 20px;
  padding-right: 60px;
}
.div1 {
  margin: 40px;
  background-color: yellow;
  height: 500px;
  width: 600px;
}
.div2 {
  margin: 80px;
  border: 12px solid red;
  background-color: orange;
  height: 300px;
  width: 400px;
}
.div3 {
  margin: 40px;
  padding: 20px;
  background-color: violet;

  height: 180px;
  width: 200px;
}
.div4 {
  background-color: white;
  margin: 25px;
  height: 50px;
  width: 150px;
}
table {
  border-collapse: inherit;
}
th {
  background-color: aliceblue;
  color: red;
}
td {
  background-color: greenyellow;
  padding: 12px;
  color: green;
  text-align: center;
}
.pc1 {
  position: relative;
  top: 50px;
  border: 3px solid red;
}
.pc2 {
  position: absolute;
  right: 30px;
  border: 3px solid yellow;
}
